DATABASE_URL="postgresql://usuario:senha@host:5432/imoveis_publicos"
PUBLICATION_SYNC_SECRET="gere-um-segredo-aleatorio-com-pelo-menos-32-bytes"
PUBLICATION_MEDIA_SOURCE_HOSTS="files.lurds.com.br,pub-exemplo.r2.dev"
PUBLIC_SITE_URL="https://imoveis.lurds.com.br"
PUBLIC_MEDIA_R2_ACCOUNT_ID=""
PUBLIC_MEDIA_R2_ACCESS_KEY_ID=""
PUBLIC_MEDIA_R2_SECRET_ACCESS_KEY=""
PUBLIC_MEDIA_R2_BUCKET_NAME="lurds-imoveis-publicos"
